[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Carlos Gavidia-Calderon
	email = cgavidia-calderon@turing.ac.uk
[sequence]
	editor = code --wait
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/1a5daa3a0231a0fbba4f14db7ec463cf99d7768e/node /tmp/vscode-remote-containers-2124a8d9-8033-4ca5-bed1-7bb6d7c066a9.js git-credential-helper $*; }; f"
